@charset "UTF-8";

@media  and (min-width: 600px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    nav > ul {
        list-style: none;
        display: flex;
        gap: 15px;
    }
    
}




* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
}

header {
    background-color: gray;
    color: white;
    padding: 20px;
}

header > h1 {
    text-shadow: 2px 2px 1px black;
}

nav {

}

nav > ul {

}

nav > ul > a {
    text-decoration: none;
    color: white;
    background-color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    padding: 8px;
    border-radius: 5px;
    transition: .5s;
}

nav > ul > a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
}